.red
{
color: rgb(228, 16, 51);
}

#first
{
    background-color: rgb(165, 165, 246);
}
.blue
{
    background-color: rgb(39, 39, 236);
}
#third
{
    background-color: rgb(170, 170, 233);
    color: rgb(241, 23, 23);
}